KDOTExport/Schema/KDOTExporter.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.pgsuper.com/KDOT"
           xmlns:kd="http://www.pgsuper.com/KDOT"
>
  <xs:annotation>
    <xs:documentation>
      This schema defines the data exchange format for KDOT CAD files

      Units of Measure - all units of measure are consistent with
      Force  - kip
      Length - inch
      Time   - second
      Angle  - radian
      
      All rebar and strand coordinates are measured from bottom girder centerline.
      Collection indexing is zero-based.
    </xs:documentation>
  </xs:annotation>

<!-- *********** BASIC Data Types ************* --> 
  <xs:simpleType name="IndexType1">
    <xs:annotation>
      <xs:documentation>
        Index of things that must be at least 1 or more
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="1"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="GirderKeyType">
    <xs:annotation>
      <xs:documentation>Describes indexing for a girder</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="SpanIndex" type="xs:nonNegativeInteger">
        <xs:annotation>
          <xs:documentation>Index of span containing girder</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GirderIndex" type="xs:nonNegativeInteger">
        <xs:annotation>
          <xs:documentation>Index of girder within span</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="NamedDoubleType">
    <xs:annotation>
      <xs:documentation>Describes an item with a name and a double value. Section dimensions are a good use case.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ParameterName" type="xs:string">
        <xs:annotation>
          <xs:documentation>Name for value</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Value" type="xs:double">
        <xs:annotation>
          <xs:documentation>Value of parameter in question</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Point2DType">
    <xs:annotation>
      <xs:documentation>Defines a point in a planar space</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="X" type="xs:double"/>
      <xs:element name="Y" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DebondDataType">
    <xs:annotation>
      <xs:documentation>Describes a debonded strand.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="StrandIndex" type="xs:nonNegativeInteger">
        <xs:annotation>
          <xs:documentation>Index of strand in array of coordinates</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StartDebondLength" type="xs:double">
        <xs:annotation>
          <xs:documentation>Length that strand is debonded at start of girder</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EndDebondLength" type="xs:double">
        <xs:annotation>
          <xs:documentation>Length that strand is debonded at end of girder</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="StrandExtensionDataType">
    <xs:annotation>
      <xs:documentation>Describes an Extended strand.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="StrandIndex" type="xs:nonNegativeInteger">
        <xs:annotation>
          <xs:documentation>Index of strand in coordinates array</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IsStartExtended" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>True if strand is Extended at start of girder</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IsEndExtended" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>True if strand is Extended at end of girder</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="HarpingPointDataType">
    <xs:annotation>
      <xs:documentation>Defines data for a harping point</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Location" type="xs:double">
      <xs:annotation>
        <xs:documentation>Location of harping point measured from ends of girder</xs:documentation>
      </xs:annotation>
      </xs:element>
      <xs:element name="HoldDownForce" type="xs:double">
        <xs:annotation>
          <xs:documentation>Hold down force at harping point</xs:documentation>
        </xs:annotation>
      </xs:element>        
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PierDataType">
    <xs:annotation>
      <xs:documentation>Defines data for a pier or an abutment</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Station" type="xs:double">
        <xs:annotation>
          <xs:documentation>Station of pier normalized in inches.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Skew" type="xs:double">
        <xs:annotation>
          <xs:documentation>Skew relative to alighnment.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="backGirderEndOffset" type="xs:double">
        <xs:annotation>
          <xs:documentation>Girder end offset at back side of pier (will be zero for first abutment). Measured along girders</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="aheadGirderEndOffset" type="xs:double">
          <xs:annotation>
            <xs:documentation>Girder end offset at ahead side of pier (will be zero for last abutment). Measured along girders</xs:documentation>
          </xs:annotation>
        </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PrestressingStrandType"> 
    <xs:annotation>
      <xs:documentation>Defines material data for prestressing strand</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Name" type="xs:string">
        <xs:annotation>
          <xs:documentation>Strand grade</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NominalDiameter" type="xs:double">
        <xs:annotation>
          <xs:documentation>Nominal strand diameter</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="RebarMaterialType">
    <xs:annotation>
      <xs:documentation>Defines material data for rebar</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Grade" type="xs:string">
        <xs:annotation>
          <xs:documentation>Rebar grade (e.g., "Grade80")</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Type" type="xs:string">
        <xs:annotation>
          <xs:documentation>Rebar type (e.g., A615)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="RebarRowInstanceType">
    <xs:annotation>
      <xs:documentation>Defines instance for rebar row location</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="BarStart" type="xs:double">
        <xs:annotation>
          <xs:documentation>Starting location of bars (from left end of girder)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BarEnd" type="xs:double">
        <xs:annotation>
          <xs:documentation>Ending location of bars (from left end of girder)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Face" type="xs:string">
        <xs:annotation>
          <xs:documentation>Face of girder where row is measured from (Top or Bottom)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Cover" type="xs:double">
        <xs:annotation>
          <xs:documentation>Bar cover from face</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NumberOfBars" type="xs:integer">
        <xs:annotation>
          <xs:documentation>Number of bars in row</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Spacing" type="xs:double">
        <xs:annotation>
          <xs:documentation>Spacing between bars</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Size" type="xs:string">
        <xs:annotation>
          <xs:documentation>Bar Size (e.g., "#5")</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="StirrupZoneType">
    <xs:annotation>
      <xs:documentation>Defines instance for a stirrup zone</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="StartLocation" type="xs:double">
        <xs:annotation>
          <xs:documentation>Start of zone measured from left end of girder</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EndLocation" type="xs:double">
        <xs:annotation>
          <xs:documentation>End of zone measured from left end of girder</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BarSize" type="xs:string">
        <xs:annotation>
          <xs:documentation>Bar Size (e.g., "#5")</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BarSpacing" type="xs:double">
        <xs:annotation>
          <xs:documentation>Spacing between bars</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NumVerticalLegs" type="xs:double">
        <xs:annotation>
          <xs:documentation>Number of vertical stirrup legs</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NumLegsExtendedIntoDeck" type="xs:double">
          <xs:annotation>
            <xs:documentation>Number of vertical stirrup legs extended into deck</xs:documentation>
          </xs:annotation>
      </xs:element>
      <xs:element name="ConfinementBarSize" type="xs:string">
        <xs:annotation>
          <xs:documentation>Bar Size (e.g., "#5")</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>  

  <xs:complexType name="CamberResultType">
    <xs:annotation>
      <xs:documentation>Data for camber and haunch calculations at a single girder location. Note that only locations between
      bearings are reported.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="FractionalLocation" type="xs:double">
        <xs:annotation>
          <xs:documentation>Fracation of location measured from CL start Pier</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Location" type="xs:double">
        <xs:annotation>
          <xs:documentation>Location measured from CL start Pier</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="LocationFromEndOfGirder" type="xs:double">
        <xs:annotation>
          <xs:documentation>Location measured from left end of girder</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TopOfDeckElevation" type="xs:double">
        <xs:annotation>
          <xs:documentation>Elevation at top of deck (roadway surface). Includes overlay, but not future overlay</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TopOfGirderChordElevation" type="xs:double">
        <xs:annotation>
          <xs:documentation>Elevation at top of undeflected girder</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TopOfGirderElevationPriorToSlabCasting" type="xs:double">
        <xs:annotation>
          <xs:documentation>Elevation at top of girder just after slab casting at max timing - Including effects of camber and deflections</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TopOfGirderElevationAtFinal" type="xs:double">
        <xs:annotation>
          <xs:documentation>Elevation at top of girder at final service condition including effects of camber and deflections</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GirderCamberAtRelease" type="xs:double">
        <xs:annotation>
          <xs:documentation>Upward deflection of girder at release. Vertical datum at ends of girder.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GirderCamberPriorToDeckCasting" type="xs:double">
        <xs:annotation>
          <xs:documentation>Upward deflection of girder just prior to deck casting. Vertical datum at bearing locations.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GirderCamberAtFinal" type="xs:double">
        <xs:annotation>
          <xs:documentation>Upward deflection of girder at release. Vertical datum at ends of girder.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- *********** Data Types for a Girder ************* -->
  <xs:complexType name="GirderDataType">
    <xs:annotation>
      <xs:documentation>Describes data for a girder</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GirderKey" type="kd:GirderKeyType">
        <xs:annotation>
          <xs:documentation>Girder Key - defines span and girder indices</xs:documentation>
        </xs:annotation>
      </xs:element>
      
      <xs:element name="GirderType" type="xs:string">
        <xs:annotation>
          <xs:documentation>Type of girder (name in library)</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="SectionDimensions"  type="kd:NamedDoubleType"  minOccurs="1" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Dimensions for the section type in question.</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="Fci" type="xs:double">
        <xs:annotation>
          <xs:documentation>Girder concrete strength at release</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="Fc" type="xs:double">
        <xs:annotation>
          <xs:documentation>Girder concrete strength at final</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="Eci" type="xs:double">
        <xs:annotation>
          <xs:documentation>Girder elastic modulus at release</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="Ec" type="xs:double">
        <xs:annotation>
          <xs:documentation>Girder elastic modulus at final</xs:documentation>
        </xs:annotation>
      </xs:element>
      
      <xs:element name="GirderLength" type="xs:double">
        <xs:annotation>
          <xs:documentation>Length of girder</xs:documentation>
        </xs:annotation>
      </xs:element>

      <!-- Note: Girder Spacing is overhang width if exterior girder -->
      <xs:element name="SpacingLeftStart" type="xs:double">
        <xs:annotation>
          <xs:documentation>Spacing on Left side of girder at Start of girder</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="SpacingRightStart" type="xs:double">
        <xs:annotation>
          <xs:documentation>Spacing on Right side of girder at Start of girder</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="SpacingLeftEnd" type="xs:double">
        <xs:annotation>
          <xs:documentation>Spacing on Left side of girder at End of girder</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="SpacingRightEnd" type="xs:double">
        <xs:annotation>
          <xs:documentation>Spacing on Right side of girder at End of girder</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="NumberOfHarpingPoints" type="kd:IndexType1"  minOccurs="1" >
        <xs:annotation>
          <xs:documentation>Number of harping points in girder</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="HarpingPoints"  type="kd:HarpingPointDataType"  maxOccurs="2">
        <xs:annotation>
          <xs:documentation>Locations and hold down forces at harping points. May be 0, 1, or 2 harping points</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="LiftingLocation" type="xs:double">
        <xs:annotation>
          <xs:documentation>Distance from ends of girder to lifting loops.</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="LeadingHaulingLocation" type="xs:double">
        <xs:annotation>
          <xs:documentation>Distance from leading end of girder to leading hauling chuck.</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="TrailingHaulingLocation" type="xs:double">
        <xs:annotation>
          <xs:documentation>Distance from trailing end of girder to trailing hauling chuck.</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="StartADimension" type="xs:double">
        <xs:annotation>
          <xs:documentation>A dimension at start end of girder</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="EndADimension" type="xs:double">
        <xs:annotation>
          <xs:documentation>A dimension at end end of girder.</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="GirderHaunchVolume" type="xs:double">
        <xs:annotation>
          <xs:documentation>Total volume of haunch material above girder. This is reduced by excess camber assuming a parabolic girder shape.</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="IsPrismatic" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>True if girder is prismatic along entire length. Section properties are always taken at mid-girder</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="Area" type="xs:double">
        <xs:annotation>
          <xs:documentation>Non-composite area of girder</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="Ix" type="xs:double">
        <xs:annotation>
          <xs:documentation>Non-composite Ix of girder</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="Iy" type="xs:double">
        <xs:annotation>
          <xs:documentation>Non-composite Iy of girder</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="d" type="xs:double">
        <xs:annotation>
          <xs:documentation>Depth of Non-composite girder</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="Yt" type="xs:double">
        <xs:annotation>
          <xs:documentation>Yt of Non-composite girder</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="Yb" type="xs:double">
        <xs:annotation>
          <xs:documentation>Yb of Non-composite girder</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="St" type="xs:double">
        <xs:annotation>
          <xs:documentation>St of Non-composite girder</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="Sb" type="xs:double">
        <xs:annotation>
          <xs:documentation>Sb of Non-composite girder</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="P" type="xs:double">
        <xs:annotation>
          <xs:documentation>Perimeter of Non-composite girder</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="W" type="xs:double">
        <xs:annotation>
          <xs:documentation>Weight (kip/in) of Non-composite girder</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="Wtotal" type="xs:double">
        <xs:annotation>
          <xs:documentation>Total Weight (kip) of Non-composite girder</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="Area_c" type="xs:double">
        <xs:annotation>
          <xs:documentation>Area of composite girder</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="Ix_c" type="xs:double">
        <xs:annotation>
          <xs:documentation>Ix of composite girder</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="Iy_c" type="xs:double">
        <xs:annotation>
          <xs:documentation>Iy of composite girder</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="d_c" type="xs:double">
        <xs:annotation>
          <xs:documentation>Depth of Composite girder</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="Yt_c" type="xs:double">
        <xs:annotation>
          <xs:documentation>Yt of Composite girder</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="Yb_c" type="xs:double">
        <xs:annotation>
          <xs:documentation>Yb of Composite girder</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="St_c" type="xs:double">
        <xs:annotation>
          <xs:documentation>St Composite girder</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="Sb_c" type="xs:double">
        <xs:annotation>
          <xs:documentation>Sb of Composite girder</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="StrandEccentricityAtEnds" type="xs:double">
        <xs:annotation>
          <xs:documentation>Eccentricity of all permanent strands at girder ends</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="StrandEccentricityAtHPs" type="xs:double">
        <xs:annotation>
          <xs:documentation>Eccentricity of all permanent strands at harping points</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="PrestressingStrandMaterial" type="kd:PrestressingStrandType">
        <xs:annotation>
          <xs:documentation>Prestressing strand material information</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="NumberOfStraightStrands" type="xs:nonNegativeInteger">
        <xs:annotation>
          <xs:documentation>Number of Straight prestressing strands</xs:documentation>
        </xs:annotation>
      </xs:element>

      <!-- Note: All strand coordinates are measured from bottom of girder -->
      <xs:element name="StraightStrandCoordinates"  type="kd:Point2DType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Coordinates of straight strands at mid-girder</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="NumberOfDebondedStraightStrands" type="xs:nonNegativeInteger">
        <xs:annotation>
          <xs:documentation>Number of Debonded Straight prestressing strands</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="StraightStrandDebonding"  type="kd:DebondDataType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Debonded Straight strands. List contains only those that are debonded. Order is that of straight strand coordinates (one-based).</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="NumberOfExtendedStraightStrands" type="xs:nonNegativeInteger">
        <xs:annotation>
          <xs:documentation>Number of Extended Straight prestressing strands</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="StraightStrandExtensions"  type="kd:StrandExtensionDataType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Extended Straight strands. This list contains only those that are extended. Order is that of straight strand coordinates.</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="NumberOfHarpedStrands" type="xs:nonNegativeInteger">
        <xs:annotation>
          <xs:documentation>Number of Harped prestressing strands</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="HarpedStrandCoordinatesAtEnds"  type="kd:Point2DType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Coordinates of Harped strands at ends of girder</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="HarpedStrandCoordinatesAtHP"  type="kd:Point2DType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Coordinates of Harped strands at harping points</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="NumberOfTemporaryStrands" type="xs:nonNegativeInteger">
        <xs:annotation>
          <xs:documentation>Number of Temporary prestressing strands</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="TemporaryStrandCoordinates"  type="kd:Point2DType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Coordinates of Temporary strands at mid-girder</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="LongitudinalRebarMaterial"  type="kd:RebarMaterialType">
        <xs:annotation>
          <xs:documentation>Longitudinal rebar material</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="NumberOfLongitudinalRebarRows" type="xs:nonNegativeInteger">
        <xs:annotation>
          <xs:documentation>Number of rows of longitudinal rebar</xs:documentation>
        </xs:annotation>
      </xs:element>
      
      <xs:element name="LongitudinalRebarRows"  type="kd:RebarRowInstanceType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Coordinates and size of longitudional rebars at mid-girder</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="TransverseReinforcementMaterial"  type="kd:RebarMaterialType">
        <xs:annotation>
          <xs:documentation>Transverse reinforcement material</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="NumberOfStirrupZones" type="xs:nonNegativeInteger">
        <xs:annotation>
          <xs:documentation>Number of rows of longitudinal rebar</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="StirrupZones"  type="kd:StirrupZoneType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Stirrup zone layout</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="CamberResults"  type="kd:CamberResultType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>List of camber results at 10th points for this girder</xs:documentation>
        </xs:annotation>
      </xs:element>

    </xs:sequence>
  </xs:complexType>

  <!-- *********** THE Bridge ************* -->
  <xs:complexType name="BridgeDataType">
    <xs:annotation>
      <xs:documentation>Describes data at bridge level</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      
      <xs:element name="LeftRailingType" type="xs:string">
        <xs:annotation>
          <xs:documentation>Name of left railing</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="RightRailingType" type="xs:string">
        <xs:annotation>
          <xs:documentation>Name of right railing</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="SlabFc" type="xs:double">
        <xs:annotation>
          <xs:documentation>Slab concrete strength at final</xs:documentation>
        </xs:annotation>
      </xs:element>
      
      <xs:element name="SlabThickness" type="xs:double">
        <xs:annotation>
          <xs:documentation>Thickness of main portion of slab</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="OverhangThickness" type="xs:double">
        <xs:annotation>
          <xs:documentation>Thickness of overhang at edge of slab</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="NumberOfSpans" type="kd:IndexType1"  minOccurs="1" >
        <xs:annotation>
          <xs:documentation>Number of Spans in Bridge</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="NumberOfGirdersPerSpan"  type="kd:IndexType1"  minOccurs="1" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Number of girders in each span</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="SpanLengths"  type="xs:double" minOccurs="1" maxOccurs="unbounded" >
        <xs:annotation>
          <xs:documentation>Pier to pier span length at CL alignment</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="PierData"  type="kd:PierDataType"  minOccurs="2" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Data for all abutments and piers in the bridge</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="GirderData"  type="kd:GirderDataType"  minOccurs="1" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Data for a given girder</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="HaunchVolume" type="xs:double">
        <xs:annotation>
          <xs:documentation>Total volume of haunch material for all girders in bridge.</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="HaunchWeight" type="xs:double">
        <xs:annotation>
          <xs:documentation>Total weight of haunch material for all girders in bridge.</xs:documentation>
        </xs:annotation>
      </xs:element>

    </xs:sequence>
  </xs:complexType>

  <!-- *********** Wrapper KDOT Export class ************* -->
  <xs:element name="KDOTExport">
    <xs:annotation>
      <xs:documentation>Root level element for KDOT CAD export</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>

        <xs:element name="BridgeData"  type="kd:BridgeDataType"  minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:documentation>Data for the bridge</xs:documentation>
          </xs:annotation>
        </xs:element>

      </xs:sequence>

      <xs:attribute name="version" type="xs:decimal" use="required" fixed="1"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
